{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}


<section class="col-9 mt-30">
    <!-- Section: Design Block -->
    <section class="text-center">

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        background: hsla(0, 2%, 58%, 0.8);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Iniciar sesión</h2>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                                <label class="form-check-label" for="form2Example33">
                                    Subscribe to our newsletter
                                </label>
                                <span><input class="form-check-input" style="margin-left: 10px;" type="checkbox" value="" id="form2Example33"
                                    checked /></span>
                            </div>

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                                Iniciar
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                                <p></p>
                                <div class="social-info d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true" style="color: brown;"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color:red"></i></a>
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true" style="color:aqua"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true" style="color:blue"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</section>
{% endblock %}