{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<style>
    body {
        background-image: url("static/core/img/hojas-de-hosta_3840x2400_xtrafondos.jpg");
        /* Puedes ajustar otras propiedades para controlar el aspecto del fondo */
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<!-- Product Catagories Area Start -->
<div class="products-catagories-area clearfix" style="background-color: antiquewhite;">


    <section class="content about" style="background-color: rgb(98, 189, 14);">

        <center><h2 class="title" style="color: white;">NOSOTROS</h2></center>
        <center><p style="color: white;">Somos una encantadora tienda de flores dedicada a ofrecerte la frescura y la belleza de la naturaleza en forma de exquisitas flores y arreglos florales! En nuestra tienda, nos esforzamos por crear una experiencia única y memorable para nuestros clientes, donde puedan encontrar la expresión perfecta de amor, felicitación o aprecio a través de nuestras hermosas creaciones.
        </p></center>

        <center><a href="#" class="btn" style="color: white;">Saber más</a></center>

    </section>

    <div class="amado-pro-catagory clearfix ">

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix mb-5 col-lg-6">
            <a href="shop.html">
                <img src="{% static 'core/img/5.jpg'%}" alt="" height="450px" width="250px">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Plantas</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix mb-5 col-lg-6 style="margin: 10px;>
            <a href="shop.html">
                <img src="{% static 'core/img/MACETAS-18-1.png'%}" alt="" height="450px" width="250px">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Macetas</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix mb-5 col-lg-6 style="margin: 10px;>
            <a href="shop.html">
                <img src="{% static 'core/img/tierradehojas.png'%}" alt="" height="450px" width="250px">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Tierras De Hojas</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix col-lg-6 style="margin: 10px;">
            <a href="shop.html">
                <img src="{% static 'core/img/Semillas_y_frutos_secos_3063x.png'%}" alt="" height="500px" width="250px">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Semillas</h4>
                </div>
            </a>
        </div>

        <!-- Single Catagory -->
        <div class="single-products-catagory clearfix col-lg-6 style="margin: 10px;"">
            <a href="shop.html">
                <img src="{% static 'core/img/olivblad-soporte-para-plantas-interior-exterior-negro__1010787_pe828336_s5.png'%}" alt="" height="500px" width="250px">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Accesorios</h4>
                </div>
            </a>
        </div>

        <div class="single-products-catagory clearfix col-lg-6 style="margin: 10px;"">
            <a href="shop.html">
                <img src="{% static 'core/img/8924.png'%}" alt="" height="500px" width="250px"  >
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Suministros</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock %}