{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="stylesheet" href="core/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'core/css/core-style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/style.css' %}">


<style>
    body {
        background-image: url("static/core/img/hojas-de-hosta_3840x2400_xtrafondos.jpg");
        /* Puedes ajustar otras propiedades para controlar el aspecto del fondo */
        background-repeat: no-repeat;
        background-size: cover;
    }
    .progress-bar {
            width: 300px;
            height: 20px;
            background-color: #f0f0f0;
            margin-bottom: 10px;
        }

        .progress {
            width: 0%;
            height: 100%;
            background-color: #00a8ff;
        }

        .circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 10px;
        }

        .red {
            background-color: red;
        }

        .yellow {
            background-color: yellow;
        }

        .green {
            background-color: green;
        }

        .button-container {
            display: none;
        }
    
</style>

<section class="col-9">
    <div class="container-fluid my-5  d-flex  justify-content-center ">
        <div class="card card-1 col-12">
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between  ">
                    <div class="col my-auto">
                        <h4 class="mb-0">Gracias por Su Orden!</h4>
                    </div>
                    <div class="col-auto text-center  my-auto pl-0 pt-sm-4"> <img
                            src="{% static 'core/img/logomyflowers.png'%}" height="130" width="130"
                            alt="">
                        <p class="mb-4 pt-0 Glasses">MyFlowers</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row justify-content-between mb-3">
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">Recibo</h6>
                    </div>
                    <div class="col-auto  "> <small>Numero De Orden: 34583487537</small> </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="sq align-self-center "> <img
                                            class="img-fluid  my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0"
                                            src="{% static 'core/img/Girasol.png'%}" alt="Product" style="height: 200px;"/> </div>
                                    <div class="media-body my-auto text-right">
                                        <div class="row  my-auto flex-column flex-md-row">
                                            <div class="col my-auto">
                                                <h6 class="mb-0">Girasol</h6>
                                            </div>
                                            <div class="col my-auto">
                                                <h6 class="mb-0"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row">
                                    <div class="col-md-3 mb-3"> <small> Seguimiento <span><i class=" ml-2 fa fa-refresh"
                                                    aria-hidden="true"></i></span></small> </div>
                                    <div class="col mt-auto">
                                        <div class="progress my-auto">
                                            <div class="progress-bar progress-bar  rounded" style="width: 62%"
                                                role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                                aria-valuemax="100">
                                            </div>
                                        </div>
                                        <div class="media row justify-content-between ">
                                            <div class="col-auto text-right"><span><small
                                                        class="text-right mr-sm-2">Preparando Pedido</small><i
                                                        class="fa fa-circle active"></i> </span></div>
                                            <div class="flex-col"> <span> <small class="text-right mr-sm-2">En Ruta
                                            </small><i class="fa fa-circle active"></i></span></div>
                                            <div class="col-auto flex-col-auto"><small
                                                    class="text-right mr-sm-2">Entrega Exitosa</small><span> <i
                                                        class="fa fa-circle"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card card-2">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body my-auto text-right">
                                        <div class="row  my-auto flex-column flex-md-row">
                                            <div class="col my-auto">
                                                <h6 class="mb-0"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-3 ">
                                <div class="row">
                                    <div class="col-md-4 mb-4"> 
                                        <div class="progress-bar">
                                            <div class="progress"></div>
                                            <div id="circle" class="circle"></div>
                                        </div>
                                    <br></br>
                                    {% if user.is_superuser %}
                                    <button id="toggleButton" onclick="toggleButtons()">Modificar</button>
                                    <div class="button-container">
                                        <button onclick="setProgress(15); setColor('red')">Preparando Pedido</button>
                                        <button onclick="setProgress(55); setColor('yellow')">En Ruta</button>
                                        <button onclick="setProgress(100); setColor('green')">Entregada Exitosa</button>
                                    </div> 
                                    {% endif %}
                                    
                                        <script>
                                            var progressBar = document.querySelector('.progress');
                                            var circle = document.getElementById('circle');
                                            var buttonContainer = document.querySelector('.button-container');
                                    
                                            function setProgress(value) {
                                                progressBar.style.width = value + '%';
                                            }
                                    
                                            function setColor(color) {
                                                circle.className = 'circle ' + color;
                                            }
                                    
                                            function toggleButtons() {
                                                if (buttonContainer.style.display === 'none') {
                                                    buttonContainer.style.display = 'block';
                                                    document.getElementById('toggleButton').textContent = 'Ocultar';
                                                } else {
                                                    buttonContainer.style.display = 'none';
                                                    document.getElementById('toggleButton').textContent = 'Mostrar';
                                                }
                                            }
                                        </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <p class="mb-1 text-dark"><b>Detalles De Orden</b></p>
                            </div>
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"><b>Fecha Estimada:</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">23 De Agosto Del 2023</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="flex-sm-col text-right col">
                                <p class="mb-1"> <b>Contacto</b></p>
                            </div>
                            <div class="flex-sm-col col-auto">
                                <p class="mb-1">+56923423498</p>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="flex-sm-col text-right col">       
                            </div>
                            <div class="flex-sm-col col-auto">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row invoice ">
                    <div class="col">
                        <p class="mb-1">Numero de Factura : 788152</p>
                        <p class="mb-1">Fecha de Factura : 09 de Junio Del 2023</p>
                        <p class="mb-1">Comprobante de Recibo : 18KU-62IIK</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="jumbotron-fluid">
                    <div class="row justify-content-between ">
                        <div class="col-sm-auto col-auto my-auto"><img class="img-fluid my-auto align-self-center "
                        <div class="col-auto my-auto ">
                        </div>
                        <div class="col-auto my-auto ml-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- ##### Main Content Wrapper End ##### -->



{% endblock %}